@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding-top: 1rem;
  margin: 0px;
  color: #FFF;
  --type-first: 'Poppins', Arial, sans-serif;
  font-family: var(--type-first);
  background: #6C6F7D;
}

h1, 
h2, 
h3, 
h4, 
p {
  margin: 0px;
} 

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
}

.container {
  max-width: 55rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  line-height: 1;
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
  position: relative;
  z-index: 1;
}


.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.VictoryContainer {
  height: initial !important;
} 